<div class="row" style="text-align: center; margin-top: 120px;">
  <div class="col-md-12">
      <footer>
          <div class="footer" id="footer">
          <!--/.footer-->
                                
          <div class="footer-bottom">
              <div class="container">
                  <p class="pull-left copyright"> Copyright © Footer 2019. All right reserved. </p>
              </div>
          </div>
          <!--/.footer-bottom--> 
          </div>
      </footer>
  </div>
</div>